<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InterfaceWebServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InterfaceWebServicesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44391/HL7MessageReceiver.asmx"
                binding="basicHttpBinding" bindingConfiguration="InterfaceWebServicesSoap"
                contract="HL7WebServices.InterfaceWebServicesSoap" name="InterfaceWebServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>