<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HL7MessageReceiverSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cpc-intapptst01/HL7WebServices/HL7MessageReceiver.asmx"
                binding="basicHttpBinding" bindingConfiguration="HL7MessageReceiverSoap"
                contract="HL7WebServices.HL7MessageReceiverSoap" name="HL7MessageReceiverSoap" />
        </client>
    </system.serviceModel>
</configuration>