<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow roles="grpIntegrationAdmin"/>
    </authorization>
    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear/>
        <add name="MembershipProvider" applicationName="/" type="Intgn.Libraries.Web.MembershipProvider"/>
      </providers>
    </membership>
  </system.web>
  <connectionStrings>
    <add name="HL7Warehouse"
         connectionString="Data Source=IntegrationDB;Initial Catalog=HL7Data;Integrated Security=True" />
</connectionStrings>
  <appSettings>
    <add key="grpIntegrationAdmin" value="grpIntegrationAdmin" />
  </appSettings>
</configuration>
